{% load menu_tags  %}
<nav class="header__menu">
    <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">Recipes</a>
            <div class="header__megamenu__wrapper">
                <div class="header__megamenu">
                    <div class="header__megamenu__item">
                        <div class="header__megamenu__item--pic set-bg"
                             data-setbg="img/megamenu/p-1.jpg">
                            <div class="label">Vegan</div>
                        </div>
                        <div class="header__megamenu__item--text">
                            <h5><a href="#">How to Make a Milkshake With Any Ice Cream ...</a>
                            </h5>
                        </div>
                    </div>
                    <div class="header__megamenu__item">
                        <div class="header__megamenu__item--pic set-bg"
                             data-setbg="img/megamenu/p-2.jpg">
                            <div class="label">Vegan</div>
                        </div>
                        <div class="header__megamenu__item--text">
                            <h5><a href="#">How to Make a Milkshake With Any Ice Cream ...</a>
                            </h5>
                        </div>
                    </div>
                    <div class="header__megamenu__item">
                        <div class="header__megamenu__item--pic set-bg"
                             data-setbg="img/megamenu/p-3.jpg">
                            <div class="label">Vegan</div>
                        </div>
                        <div class="header__megamenu__item--text">
                            <h5><a href="#">How to Make a Milkshake With Any Ice Cream ...</a>
                            </h5>
                        </div>
                    </div>
                    <div class="header__megamenu__item">
                        <div class="header__megamenu__item--pic set-bg"
                             data-setbg="img/megamenu/p-4.jpg">
                            <div class="label">Vegan</div>
                        </div>
                        <div class="header__megamenu__item--text">
                            <h5><a href="#">How to Make a Milkshake With Any Ice Cream ...</a>
                            </h5>
                        </div>
                    </div>
                    <div class="header__megamenu__item">
                        <div class="header__megamenu__item--pic set-bg"
                             data-setbg="img/megamenu/p-5.jpg">
                            <div class="label">Vegan</div>
                        </div>
                        <div class="header__megamenu__item--text">
                            <h5><a href="#">How to Make a Milkshake With Any Ice Cream ...</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </li>

         {% get_categories %}

        <li><a href="./about.html">About</a></li>
        <li><a href="./contact.html">Contact</a></li>
    </ul>
</nav>